/*
* === RESET === *
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 13px;
    font-family: Montserrat;
    margin: auto;
    width: 100%;  
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
   width: 100%;
}
.clearfix{
    width: 100%;
}

/*
* === Tables === *
*/

.menu-title {
    display: block;
    font-size: 45px;
    color: Black;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    padding: 15px;
}

.tbls {
    margin-left: 25px;
    margin-top: 25px;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 700px;
    border-collapse: collapse; 
    border-spacing: 0;
    line-height: 20px;
}

td, th {
    border: 1px solid #e8e8e8; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
    padding: 30px;
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #efefef; }  

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #d3d6be; } 

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */



#edit {
    background: #918f8f;
    padding: 7px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

#delete {
    background: #c14747;
    padding: 7px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

#warning {
    background: red;
    padding: 15px 25px;
    width: 160px;
    margin: 0 auto;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#failed {
    display: block;
    background: red;
    padding: 15px 25px;
    width: 160px;
    margin: 0 auto;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/*
* === Home === *
*/
.head-section {
    
    background: #ba2916;
    padding-bottom: 20px;
}

#heading {
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    text-align: center;
    margin: auto;
    line-height: 120px;
    height: 100px;
}

#mini-section {
    width: 100%;
    background: #ba2916;
    border-top: 1px dotted white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.header-list {
    float: right;
}

.header-list li {
    float: left;
    text-align: center;
    width: 100px;
    padding: 11px;
    height: 20px;
    border-left: 1px dotted white;
}

.header-list li a {
    text-decoration: none;
    color: white;
    display: block;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    transition: all .5s ease-in;
}

.header-list li:hover {
    background: #db4843;
}

/*
* === sidebar === *
*/
.sidebar {
    float: left;
    width: 275px;
}

.main-nav {
    text-align: center;
}

.main-nav li {
    display: block;
    width: 275px;
    height: 115px;
    border: 1px dotted black;
    padding-top: 15px;
    transition: all .5s ease-in;
}

.main-nav li:hover {
    background: #efdeb2;
}

.main-nav a {
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

.main-nav li img {
    height: 60px;
    width: 60px;
}

.main-nav li p {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}


/*
* === Dashboard Section === *
*/
#dashboard-section {
    float: left;
    width: 1000px;
    margin-left: 25px;
    margin-top: 15px;
}

#dashboardlist {
    width: 1000px;
    padding: 10px;
    position: relative;
}
#dashboardlist li {
    float: left;
    text-align: center;
    background: #e0cf9d;
    margin-right: 20px;
    padding: 30px;
    border-radius: 11px;
    margin-bottom: 30px;
    transition: all .5s ease-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    width: 17%;
}

#dashboardlist li:hover {
    background: #c9b16e;
}

#dashboardlist li img {
    height: 150px;
    width: 150px;
}

#dashboardlist li p {
    font-size: 18px;
    margin-top: 15px;
}

.dash {
    display: block;
    color: #424242;
    font-weight: bold;
    font-size: 55px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    margin-top: 15px;
}

.dashboard-links {
    width: 700px;
    margin-left: 15px;
    position: relative;
    top: 25px;
}

.hlink {
    float: left;
    background: #d83e3e;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 18px 35px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all .5s ease-in;
}
.hlink:hover {
    background: #a53838;
}


/*
* === Donor === *
*/

.donor-section {
    float: left;
}

.cat-link {
    margin-left: 15px;
}

#add-donor-form {
    float: left;
    margin-top: 65px;
    width: 500px;
}

.form-field {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-family: Montserrat;
}

.form-text {
    padding: 10px 0px;
}

#submit {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #ba2916;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 50px;
    border: none;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}

.tbls-donor{
    margin-left: 9%;
}

.tbls-donor td, th{
    padding: 8px;
}

/*
* === Blood-Request === *
*/
.tbls-bloodrequest{
    margin-left: 9%;
}

.tbls-bloodrequest td, th{
    padding: 14px;
}

/*
* === Blood === *
*/
.tbls-blood{
    margin-left: 9%;
}

/*
* === Employee === *
*/

.tbls-employee{
    margin-left: 9%;
}

.tbls-employee td, th{
    padding: 14px;
}

select{
    width:auto;
    border:1px solid #cccccc;
    background-color:#ffffff;
    display: inline-block;
   
}

select/*,input[type="file"]*/{
    height:30px;
    border:1px solid #cccccc;
    background-color:#ffffff;
    outline: none;
}

input[type="search"]{
    border:1px solid #cccccc;
    background-color:#ffffff;
    margin-bottom: 30px;
    height: 30px;
    display: inline-block;

}

input[type="text"]{
    border:1px solid #cccccc;
    margin-bottom: 10px;
    outline: none;
}

input[type="password"]{
    border:1px solid #cccccc;
    margin-bottom: 10px;
    outline: none;
}
#textarea{
    border:1px solid #cccccc;
    margin-bottom: 10px;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

label{
    display: inline-block;
    margin-top:10px;
}

#submit{
    color: #ffffff;
}

.dataTables_wrapper select,
.dataTables_wrapper input {
    margin: 0 0 0 5px;
    
}

.dataTables_filter{
    margin-bottom: 10px;
}

.datatable-pagination {
    float: right;
}

.datatable-pagination>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    background-color: #f5f5f5;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none!important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle
}

.datatable-pagination>a+a {
    margin-left: -1px
}

.datatable-pagination>a:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px
}

.datatable-pagination>a:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px
}

.datatable-pagination>a span {
    display: block;
}

#DataTables_Table_0_info{
   
    margin-top: 10px;
}

select,
textarea,
input[type="text"],
input[type="url"],
.uneditable-input,
button,
select,
textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    
}

.dataTables_wrapper select,
.dataTables_wrapper input,
.dataTables_wrapper label {
    margin: 0;
}

.dataTables_wrapper select,
.dataTables_wrapper input {
    margin: 0 0 0 5px;
}

.dataTables_wrapper>div {
    float: left;
    margin: 0 0 15px 15px;
}
.dataTables_wrapper>div+div {
    float: right;
    margin: 0 15px 15px 0
}

.dataTables_wrapper table+div,
.dataTables_wrapper table+div+div {
    margin-top: 15px;
    margin-bottom: 15px;

}

.datatable-pagination>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    background-color: #f5f5f5;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none!important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.shaded {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff;
}

#table-donor_filter{
    display: inline-block;
    margin: 0 0 15px 15px;
}

#table-donor_length{
    display: inline-block;
    margin: 0 0 15px 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
}
    
.btn-success{
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #228B22;
  margin-bottom: 10px;
  margin-left: 6px;
  transition: all .5s ease-in;
}

.btn-success:hover{
  background-color: #006400;
}

.import{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #228B22;
    margin-bottom: 10px;
    margin-left: 6px;
    transition: all .5s ease-in;
}

.form-control-date{
    padding: 5px;
    font-family: Montserrat;
    font-size: 13px;
}

.btn-filter-time{
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #e6c000;
    transition: all .5s ease-in;
}

.btn-filter-time:hover{
    background-color: #F4B800;
}

.reloadbtn{
    background: #d83e3e;
    padding: 9px 15px;
    text-decoration: none;
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 16px;
    border: none;
    transition: all .5s ease-in;
    border-radius: 3px;
}

.reloadbtn:hover{
    background: #BA2916;
}



















    
